.banner.style1 .content {
    padding: 1rem 7rem 1rem 7rem;
}

h1.title {
    font-weight: 400;
    color: red;
}

blockquote.warning {
    background-color: lightyellow;
    padding: 0.5rem 2rem 0.5rem 2rem;
}
blockquote.warning p {
    margin: 0 0 0.5rem 0;
}

p.contacts {
    margin: 0 0 0.5rem 0;
}

ul.icons li.breathe {
    padding-bottom: 0.5rem;
}
