.banner.style1 .content {
    padding: 3rem 7rem 3rem 7rem;
}

@font-face {
    font-family: "Comic Sans MS";
    src: url(assets/comic-sans-ms/ComicSansMS3.ttf) format("truetype");
}
h1.title {
    color: red;
}
h1.title, p.stitle { 
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

blockquote.warning {
    background-color: lightyellow;
}

ul.icons li.breathe {
    padding-bottom: 0.5rem;
}
