.banner.style1 .content {
    padding: 3rem 7rem 3rem 7rem;
}

h1.title {
    font-weight: 400;
    color: red;
}

blockquote.warning {
    background-color: lightyellow;
}

ul.icons li.breathe {
    padding-bottom: 0.5rem;
}
